form {
    padding: 0;
    margin: 0;
    display: inline;
}
.row{
    margin:0px 185px;
}
#content {
    min-height: 400px;
    margin-bottom: 25px;
}
h1 {
    font-size: 26px;
    line-height: 38.4px;
    margin-bottom: 10px;
}
.checkout-heading {
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    padding: 8px;
    font-weight: bold;
    font-size: 1;
    color: #555555;
    margin-bottom: 15px;
}
h2{
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: 14px;
}

.checkout-content {
    padding: 0px 0px 15px 0px;
    display:flex;
}
#c {
    margin: 8px;
}

.formError {
position: absolute;
top: 300px;
left: 300px;
display: block;
cursor: pointer;
text-align: left;
opacity: 0.87;
position: absolute;
top: 8px;
left: 504.4px;
margin-top: -51px;
z-index: 990;
}
.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position: relative;
    color: #fff;
    min-width: 120px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    -o-box-shadow: 0 0 6px #000;
    padding: 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.formError .formErrorContent {
    z-index: 991;
}
.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative;
}

.formError .formErrorArrow {
    z-index: 996;
}
#c input {
    width: 100%;
    padding: 7px;
}
.col-lg-6 {
    width:50%;
}
.check{
    display:flex;
}
#c select {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.col-lg-12 {
    width:100%;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

